body {
    font-family: 'Montserrat', sans-serif; /* استخدم خط Montserrat للجسم */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, red, black);
    color: white;
    margin: 0;
}

.container {
    text-align: center;
    background-color: transparent; /* اجعل الخلفية شفافة */
    padding: 20px;
    border-radius: 8px;
    box-shadow: none; /* إزالة الظل */
}

h1 {
    font-family: 'Playfair Display', serif; /* استخدم الخط الجديد للعناوين */
    font-size: 36px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 20px;
}

#timer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.time-box {
    background-color: transparent; /* خلفية المربعات شفافة */
    border: 2px solid black; /* حدود سوداء */
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    flex: 1 1 80px; /* مرونة التصميم */
    min-width: 80px; /* الحد الأدنى للعرض */
    text-align: center;
    font-size: 24px;
    color: white; /* لون الخط أبيض */
}

.label {
    display: block;
    margin-top: 5px;
    font-size: 16px;
}

/* Media Queries for different screen sizes */
@media (max-width: 600px) {
    h1 {
        font-size: 28px;
    }
    .subtitle {
        font-size: 16px;
    }
    .time-box {
        flex: 1 1 60px; /* حجم المربعات على الشاشات الأصغر */
        font-size: 20px; /* حجم خط أصغر */
    }
}
